*, *::before, *::after {
    box-sizing: border-box;
}

* { 
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
scroll-behavior: smooth; }

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background: #ffffff;
}


body.menu-open {
  position: fixed;
  overflow: hidden;
  width: 100%;
  left: 0;
  right: 0;
  overscroll-behavior: none;
}

img, svg, video {
    display: block;
    max-width: 100%;
}

/* video or img checker, 
 * TODO: can be added to .bestseller-bg */
.media-is-bg {
    grid-area: 1 / 1; /* Overlays with text */
    width: 100%; /* Fills wrapper */
    height: 100%; /* Fills wrapper */
    object-fit: cover;
    display: block;
    margin: 0;
}

