/* --------- second content section NEW ------------ */

.new-item-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: auto;
    min-height: auto;
    background: white;
    overflow: visible;

    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    gap: 20px;
}

.inner-new-wrapper {
    display: grid;
    place-items: center;
    width: 50vw;
    max-width: 566px;
    aspect-ratio: 566 / 572;
    position: relative;
}

.sticky-new-txt {
    position: sticky;

    /* stick duration in viewport */
    top: 240px;
    transform: translateY(1%);

    grid-area: 1 / 1;
    text-align: center;
    display: inline-block;
    margin: 0;
    z-index: 30;
    color: white;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 900;
    font-size: 80px;
    width: fit-content;
    background-color: transparent;
    line-height: 1;
}

.new-bg {
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
    z-index: 1;
    overflow: hidden;
}

/* --------- third content section BESTSELLER ------------ */

.bestseller-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* min-height: 80vh; */
    /* height: 572px; */
    background: white;
    min-height: 0;
    height: auto;
    overflow: visible;

    /* TODO: It might be pushed by the testing sections */
    gap: 20px;
    flex-direction: column;
}

.inner-bestseller-wrapper {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 1200px;
    aspect-ratio: 1200 / 759;
    position: relative;
    /* padding: 0px 20px 0px 20px; */
    object-fit: cover;
}

.sticky-bestseller-txt {
    position: sticky;
    top: 330px;
    transform: translateY(1%);

    grid-area: 1 / 1;
    text-align: center;
    display: inline-block;
    margin: 0;
    z-index: 30;
    color: white;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 900;
    font-size: 80px;
    width: fit-content;
    background-color: transparent;
    line-height: 1;
}

.bestseller-bg {
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
    z-index: 1;
    overflow: hidden;
}

/* -------- text description container ---------- */
.txt-container, .new-item-container, .bestseller-container {
    flex-direction: column;
}

.txt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 715px;
    height: 64px;
    gap: 10px;
    transition: opacity 0.35s ease-in-out;
    cursor: default;
}
.txt-container:hover {
    opacity: 50%;
}

.txt-subtitle, .txt-desc {
    margin: 0;
}

.txt-subtitle {
    font-weight: 700;
    font-size: 16px;
}

.txt-desc {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 647px;
}

@media (width <= 767px) {
    .new-item-container {
        /* min-height: 50vh; */
        justify-content: flex-start;
        height: auto;
        min-height: auto;
        padding-top: 100px;
        padding-bottom: 85px;
    }

    .inner-new-wrapper {
        width: auto;
        max-width: 282px;
        aspect-ratio: 282 / 286;
    }

    .sticky-new-txt {
        top: 180px;
    }

    .bestseller-container {
        min-height: 0;
        height: auto;
    }

    .inner-bestseller-wrapper {
        max-width: 1352px;
        aspect-ratio: 1352 / 760;
        position: relative;
        padding: 0px 21px 0px 21px;
    }

    .sticky-bestseller-txt {
        top: 130px;
    }

    .sticky-new-txt,
    .sticky-bestseller-txt {
        font-family: "Hanken Grotesk", sans-serif;
        font-size: 40px;
        font-weight: 900;
    }

    .txt-container {
        width: 100%;
        max-width: 342px;
        height: 78px;
        gap: 14px;
        padding-inline: 16px;
    }

    .txt-subtitle, .txt-desc {
        font-family: Arial, Helvetica, sans-serif;
    }

    .txt-subtitle {
        font-size: 14px;
        font-weight: 700;
    }

    .txt-desc {
        font-size: 12px;
        font-weight: 400;
        /* width: 100%; */
        /* max-width: none; */
    }

    .new-item-container .txt-container {
        width: 342px;
        gap: 14px;
        padding-inline: 0;
        align-items: center;
    }

    .bestseller-container .txt-container {
        width: 346px;
        gap: 14px;
        padding-inline: 0;
        align-items: center;
    }

    .new-item-container .txt-subtitle,
    .new-item-container .txt-desc,
    .bestseller-container .txt-subtitle,
    .bestseller-container .txt-desc {
        width: 100%;
        text-align: center;
    }
}
